:root {
    --Color-default-1: #8a2be2;
    --Color-default-2: #5372F0;
    --Color-default-3: #999;
    --Color-default-4: #ddd;
    --Color-default-5: #333;
    --Color-default-6: #adadad;
    --Color-default-7: #b7b6b6;
    --Color-default-8: #ccc;
    --Color-default-9: #fff;
    --Color-default-10: #0000ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    padding: 0 10px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: var(--Color-default-1);
}

.container {
    width: 100%;
    padding: 30px;
    max-width: 690px;
    border-radius: 7px;
    background: var(--Color-default-9);
}

.wrapper {
    border-radius: 5px;
    border: 2px solid var(--Color-default-8);
}

.wrapper .text-input {
    display: flex;
    border-bottom: 2px solid var(--Color-default-8);
}

.text-input .to-text {
    border-radius: 0px;
    border-left: 2px solid var(--Color-default-8);
}

.text-input textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    height: 250px;
    font-size: 18px;
    background: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.controls,
.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls {
    list-style: none;
    padding: 12px 15px;
}

.controls .row .icons {
    width: 38%;
}

.controls .row .icons i {
    width: 50px;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
    color: var(--Color-default-6);
    transition: transform 0.2s ease;
}

.controls .row.from .icons {
    padding-right: 15px;
    border-right: 1px solid var(--Color-default-8);
}

.controls .row.to .icons {
    padding-left: 15px;
    border-left: 1px solid var(--Color-default-8);
}

.controls .row select {
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
    padding-left: 5px;
    color: var(--Color-default-5);
}

.text-input textarea::-webkit-scrollbar {
    width: 4px;
}

.controls .row select::-webkit-scrollbar {
    width: 8px;
}

.text-input textarea::-webkit-scrollbar-track,
.controls .row select::-webkit-scrollbar-track {
    background: var(--Color-default-9);
}

.text-input textarea::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: var(--Color-default-4);
}

.controls .row select::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: var(--Color-default-3);
    border-right: 2px solid var(--Color-default-9);
}

.controls .exchange {
    cursor: pointer;
    font-size: 16px;
    color: var(--Color-default-7);
    transition: transform 0.2s ease;
}

.controls i:active {
    transform: scale(0.9);
}

.container button {
    width: 100%;
    padding: 14px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 17px;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: var(--Color-default-9);
    background: var(--Color-default-2);
}

@media (max-width: 660px) {
    .container {
        padding: 20px;
    }

    .wrapper .text-input {
        flex-direction: column;
    }

    .text-input .to-text {
        border-left: 0px;
        border-top: 1px solid var(--Color-default-8);
    }

    .text-input textarea {
        height: 200px;
    }

    .controls .row .icons {
        display: none;
    }

    .container button {
        padding: 13px;
        font-size: 16px;
    }

    .controls .row select {
        font-size: 16px;
    }

    .controls .exchange {
        font-size: 14px;
    }
}