:root {
    --Color-default-1: #8a2be2;
    --Color-default-2: #5372F0;
    --Color-default-3: #999;
    --Color-default-4: #ddd;
    --Color-default-5: #333;
    --Color-default-6: #adadad;
    --Color-default-7: #b7b6b6;
    --Color-default-8: #ccc;
    --Color-default-9: #fff;
    --Color-default-10: #0000ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    padding: 0 10px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: var(--Color-default-1);
}

.container {
    width: 100%;
    padding: 30px;
    max-width: 690px;
    border-radius: 7px;
    background: var(--Color-default-9);
}

.wrapper {
    border-radius: 5px;
}

.wrapper .text-input {
    display: flex;
    border-radius: 7px;
    border: 2px solid var(--Color-default-8);
}

.text-input .to-text {
    border-radius: 0;
    border-left: 2px solid var(--Color-default-8);
}

.text-input textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    height: 250px;
    font-size: 18px;
    background: none;
    padding: 10px 15px;
    border-radius: 5px;
}

li.from-1 select,
li.from-2 select {
    width: 100%;
    padding: 15px;
    font-size: 15px;
    appearance: none;
    border-radius: 5px;
    margin-bottom: 20px;
    color: var(--Color-default-5);
}

.controls {
    list-style: none;
    margin-top: 20px;
}

.text-input textarea::-webkit-scrollbar {
    width: 8px;
}

.controls select::-webkit-scrollbar {
    width: 8px;
}

.text-input textarea::-webkit-scrollbar-track,
.controls select::-webkit-scrollbar-track {
    background: var(--Color-default-9);
}

.text-input textarea::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: var(--Color-default-4);
}

.controls select::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: var(--Color-default-3);
}

.controls .exchange i {
    display: flex;
    padding: 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color: var(--Color-default-9);
    transition: transform 0.2s ease;
    background-color: var(--Color-default-2);
}

.controls i:active {
    transform: scale(0.9);
}

.container button {
    width: 100%;
    padding: 14px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 17px;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: var(--Color-default-9);
    transition: transform 0.2s ease;
    background: var(--Color-default-2);
}

.container button:active {
    transform: scale(0.9);
}


/* Media */
@media (max-width: 660px) {
    .container {
        padding: 20px;
    }

    .wrapper .text-input {
        flex-direction: column;
    }

    .text-input .to-text {
        border-left: 0px;
        border-top: 2px solid var(--Color-default-8);
    }

    .text-input textarea {
        height: 200px;
    }

    .container button {
        padding: 13px;
        font-size: 16px;
    }

    .controls .exchange {
        font-size: 14px;
    }
}